#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f3a33;
}

#canvas {
    max-height: 98%;
    max-width: 98%;
}

html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}